main {
    background-color: black;
    padding: 1em;
    color: white;
    height: 100vh;
}

main div {
    display: flex;
}

button {
    background-color: #009999 !important;
    color: white !important;
}